
@{
    ViewBag.Title = "CarPkt";
}

<div class="panel panel-default">
    <div class="panel-heading">Giriş Yapın</div>
    <div class="panel-body">

        <form enctype="multipart/form-data" class="form-horizontal" method="post" action="/Account/PaketSatis">
            <div class="form-group">
                <label for="plaka" class="col-sm-4 control-label">Aracınızın Plakası :</label>
                <input class="form-control col-xs-12" name="txtPLAKA" placeholder="Plaka" />
            </div>
            <div class="form-group">
                <label for="saseno" class="col-sm-4 control-label">Aracınızın Şase Numarası :</label>
                <input class="form-control col-xs-12" name="txtSASENO" placeholder="Şase Numarası" />
            </div>
    </div>
    <button class="btn btn-success col-sm-offset-4">SATIN AL</button>
    
    </form>
    @*@Html.Partial("Counter")*@
</div>
</div>

